<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.platform.mapper.PetFosterCareMapper">
<!--分页查询-->
    <select id="queryPage" resultType="com.project.platform.entity.PetFosterCare">
        select pet_foster_care.*,pet_type.name as petTypeName,pet_store_manager.store_name as petStoreName, pet.name as petName, user.username as username
        from pet_foster_care
        left join pet_type on pet_foster_care.pet_type_id=pet_type.id
        left join pet_store_manager on pet_foster_care.pet_store_manager_id = pet_store_manager.id
        left join user on pet_foster_care.user_id=user.id
        left join pet on pet_foster_care.pet_id=pet.id
        <include refid="queryConditions"/>
        order by pet_foster_care.id desc
        limit #{offset},#{pageSize}
    </select>

<!--查询总数-->
    <select id="queryCount" resultType="int">
        select count(pet_foster_care.id) from pet_foster_care
        left join pet_type on pet_foster_care.pet_type_id=pet_type.id
        left join pet_store_manager on pet_foster_care.pet_store_manager_id = pet_store_manager.id
        left join user on pet_foster_care.user_id=user.id
        left join pet on pet_foster_care.pet_id=pet.id
        <include refid="queryConditions"/>
    </select>

<!--查询条件-->
    <sql id="queryConditions">
        <where>
            <if test="query.userId != null">
                and pet_foster_care.user_id = #{query.userId}
            </if>
            <if test="query.petStoreManagerId != null">
                and pet_foster_care.pet_store_manager_id = #{query.petStoreManagerId}
            </if>
            <if test="query.petName != null and query.petName.trim() != ''">
                and pet.name like concat('%',#{query.petName},'%')
            </if>
            <if test="query.username != null and query.username.trim() != ''">
                and user.username like concat('%',#{query.username},'%')
            </if>
            <if test="query.status != null and query.status.trim() != ''">
                and pet_foster_care.status = #{query.status}
            </if>
        </where>
    </sql>

<!--插入-->
    <insert id="insert" parameterType="com.project.platform.entity.PetFosterCare" useGeneratedKeys="true" keyProperty="id">
        insert into pet_foster_care
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="petId != null">pet_id,</if>
            <if test="petTypeId != null">pet_type_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="petStoreManagerId != null">pet_store_manager_id,</if>
            <if test="reservedStartTime != null">reserved_start_time,</if>
            <if test="reservedEndTime != null">reserved_end_time,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="petId != null">#{petId},</if>
            <if test="petTypeId != null">#{petTypeId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="petStoreManagerId != null">#{petStoreManagerId},</if>
            <if test="reservedStartTime != null">#{reservedStartTime},</if>
            <if test="reservedEndTime != null">#{reservedEndTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

<!--更新-->
    <update id="updateById" parameterType="com.project.platform.entity.PetFosterCare">
        update pet_foster_care
        <set>
            <if test="petId != null">pet_id = #{petId},</if>
            <if test="petTypeId != null">pet_type_id = #{petTypeId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="petStoreManagerId != null">pet_store_manager_id = #{petStoreManagerId},</if>
            <if test="reservedStartTime != null">reserved_start_time = #{reservedStartTime},</if>
            <if test="reservedEndTime != null">reserved_end_time = #{reservedEndTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        where id = #{id}
    </update>

<!--根据id删除数据删除-->
    <delete id="deleteById">
        delete from pet_foster_care where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
